# Logs
logs
*.log

# Node.js dependencies
node_modules/

# dotenv environment variables file
.env

# VSCode configuration folder
.vscode/

# macOS
.DS_Store

# JetBrains IDEs
.idea/

# Temporary files
*.tmp

# Build files
/build

# Dependency lock files
package-lock.json
yarn.lock
npm-shrinkwrap.json

# Environment-specific files
.env.local
.env.development
.env.test
.env.production

# Ignore node.js executables
node

# Generated HTML coverage and reports
coverage/
