.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input {
        width: 200px;
        height: 2rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 500;
        outline: none;
        transition: all 0.2s ease-in-out;

        &:focus {
            border: 1px solid #000;
        }
    }
}